<header class="header-peanuts">  
  <div class="logo-contenedor">
      <img src="menu-2.png" alt="Logo Menu" class="menu">
  </div>
  <div class="logo-contenedor">
      <img src="peanuts.png" alt="Imagen" class="pandilla">
  </div>
  <div class="logo-contenedor">
      <img src="PeanutsLogo.png" alt="Logo peanuts" class="logoPeanuts">
  </div>
  <div class="buscar-contenedor">
      <input type="text" placeholder="Search..." class="buscar-input">
      <i class="fas fa-search icon"></i>
  </div>
</header>
