<app-header></app-header>
<div class="titulo-contenedor">
    <h1 class="store-proximamente">
        <i class="fas fa-store icono-store"></i> Proximamente "Store"
    </h1>
</div>

<div class="store-container">
    <div class="store-product">
        <img src="1.png" alt="Sudadera Snoopy" class="img-store">
        <h1 class="nombre-store">Sudadera Snoopy</h1>
        <p class="precio-store">$ 450</p>
    </div>

    <div class="store-product">
        <img src="2.png" alt="Sudadera Snoopy" class="img-store">
        <h1 class="nombre-store">Sudadera Snoopy</h1>
        <p class="precio-store">$ 450</p>
    </div>

    <div class="store-product">
        <img src="3.png" alt="Sudadera Snoopy" class="img-store">
        <h1 class="nombre-store">Sudadera Snoopy</h1>
        <p class="precio-store">$ 450</p>
    </div>

    <div class="store-product">
        <img src="4.png" alt="Sudadera Snoopy" class="img-store">
        <h1 class="nombre-store">Sudadera Snoopy</h1>
        <p class="precio-store">$ 450</p>
    </div>

    <div class="store-product">
        <img src="5.png" alt="Sudadera Snoopy" class="img-store">
        <h1 class="nombre-store">Sudadera Snoopy</h1>
        <p class="precio-store">$ 450</p>
    </div>

    <div class="store-product">
        <img src="6.png" alt="Sudadera Snoopy" class="img-store">
        <h1 class="nombre-store">Sudadera Snoopy</h1>
        <p class="precio-store">$ 450</p>
    </div>

    <div class="store-product">
        <img src="7.png" alt="Sudadera Snoopy" class="img-store">
        <h1 class="nombre-store">Sudadera Snoopy</h1>
        <p class="precio-store">$ 450</p>
    </div>

    <div class="store-product">
        <img src="8.png" alt="Sudadera Snoopy" class="img-store">
        <h1 class="nombre-store">Sudadera Snoopy</h1>
        <p class="precio-store">$ 450</p>
    </div>
</div>

<app-footer></app-footer>